.banner-text {
  padding: 80px 0 0 80px;
  color: white;
  width: 40%;
}
.banner-heading {
  font-size: 60px;
}
.section-text {
  padding: 80px 0 0 80px;
  color: white;
  width: 40%;
}
.section-heading {
  font-size: 40px;
}
.form-header {
  border-bottom: 1px solid #ddd;
  padding: 25px 0;
  text-align: center;
}
.myForm {
  padding: 25px 0 0 0;
}
